@use '/src/styles/constants/colors';

.gnbWrapper {
  width: 320px;
  height: 100vh;
  padding: 60px 40px;
  background: #ffffff;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 4%);

  header {
    padding-bottom: 60px;
    border-bottom: 1px solid #edeff1;
  }

  nav {
    padding-top: 40px;
    background-color: colors.$WHITE;

    .service {
      box-sizing: border-box;
      height: 100px;
      padding-top: 13px;

      h4 {
        height: 14px;
        padding-left: 20px;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        color: #94a2ad;
      }

      .select {
        width: 240px;
        height: 60px;
        padding: 20px;
        margin-top: 13px;
        border: 1px solid #d1d8dc;
        border-radius: 10px;
      }
    }

    .linkList {
      height: 160px;
      margin-top: 53px;

      h4 {
        height: 14px;
        padding-left: 20px;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        color: #94a2ad;
      }

      ul {
        margin-top: 13px;

        li {
          width: 240px;
          height: 60px;

          a {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 20px;
            color: colors.$BLACK;
            border-radius: 10px;

            &.isActive {
              color: #586cf5;
              background: #edeff1;
            }
          }

          h5 {
            margin-left: 12px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
    }
  }

  footer {
    margin-top: 260px;

    .guide {
      display: flex;
      width: 240px;
      height: 100px;
      padding: 30px 20px;
      margin-bottom: 40px;
      background-color: #e5f4fd;
      border-radius: 10px;

      .guideIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        background-color: #586cf5;
        border-radius: 50%;
      }

      .guideContent {
        p {
          margin-bottom: 7px;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
          color: #3a474e;
        }

        span {
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 14px;
          color: #94a2ad;
        }
      }
    }

    .agreement {
      padding-left: 20px;

      p {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        color: #94a2ad;
      }

      span {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        color: #94a2ad;
        text-decoration: underline;
      }
    }
  }
}
