@use 'styles/constants/colors';

.userOptionWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;

  ul {
    display: flex;
    font-size: 14px;

    li + li {
      margin-left: 16px;
    }

    li:last-child {
      margin-right: 40px;
    }
  }
}
