.mediaAdsWrap {
  padding: 40px;
  background-color: #f4f4f4;

  .title {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }

  .content {
    padding: 80px 40px 40px;
    background-color: #ffffff;
    border-radius: 20px;

    // .chartWrap {

    // }
    .tableWrap {
      padding: 20px 0;
      overflow-x: auto;

      .table {
        min-width: 800px;
        border: 1px solid #aaaaaa;

        .title {
          width: 300px;
          text-align: center;
        }

        .mediaData {
          text-align: center;
        }
      }
    }
  }
}
