@use '/src/styles/constants/colors';

.skeleton {
  padding: 20px 40px;
}

.header {
  width: 96px;
  height: 36px;
  background-color: colors.$COLOR_SKELETON;
  border-radius: 10px;
}

.contentWrapper {
  margin-top: 45px;
}

.smallHeader {
  width: 97px;
  height: 19px;
  margin-bottom: 20px;
  background-color: colors.$COLOR_SKELETON;
  border-radius: 10px;
}

.content {
  width: 100%;
  height: 654px;
  background-color: colors.$COLOR_SKELETON;
  border-radius: 10px;
}
