@use '/src/styles/base/reset';
@use '/src/styles/constants/colors';

.appWrapper {
  width: 100%;
  background-color: colors.$GRAY25;

  h1 {
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    color: colors.$GRAY800;
  }

  .customDatePicker {
    input {
      width: 100%;
    }
  }

  .dashboardSection {
    width: 100%;
  }
}
