@use '/src/styles/base/reset';
@use '/src/styles/constants/colors';

.appWrapper {
  width: 100%;
  background-color: colors.$GRAY25;

  .dataPickerWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 40px;

    .datePickerTitle {
      font-size: 26px;
      font-weight: 900;
      line-height: 30px;
      color: colors.$GRAY800;
    }

    .customDatePicker {
      display: flex;
      align-items: center;

      input {
        width: 260px;
      }
    }
  }

  .dashboardSection {
    width: 100%;
  }
}
