@use '/src/styles/base/reset';
@use '/src/styles/constants/colors';

.appWrapper {
  width: 1120px;
  background-color: #f6f7f8;
<<<<<<< HEAD
=======

  .customDatePicker {
    input {
      width: 100%;
    }
  }

  .dashboardSection {
    width: 100%;
  }
>>>>>>> 5182655538492dc23edf06ee170159945a154b3d
}
