@use '/src/styles/constants/colors';

.container {
  width: 1039px;
  height: 654px;
  padding: 40px;
  background-color: #f6f7f8;

  h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: #3a474e;
  }

  .contents {
    width: 100%;
    margin-top: 20px;
    background-color: colors.$WHITE;
    border-radius: 20px;
  }
}
